.circleInfobasic {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  font-family: 'Nanum-Gothic', sans-serif;
}

.circleInfoImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.circleInfoImg img {
  width: 20rem;
  border-radius: 10rem;
}

.circleInfoTitle{
  display:flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  height: 100%;
}

.circleInfoName {
  margin-top: 1rem;
  font-size: 2.5rem;
  margin-left:3rem;
  height:100%;
}

.circleInfoCheckUser{
  position: absolute;
  right: 20px;
  bottom: 0px;
}

.circleInfos .circleInformations {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  padding: 1rem;
  font-size: 1.25rem;
}

.circleInfomation {
  flex:1;
  text-align: center;
}

.circleInfopresent {
  font-size: 1rem;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

.circleJFbutton{
  display:flex;
  flex-direction: row;
}

.JFbutton{
  margin:1rem;
  cursor:pointer;
}

.JFbutton:hover{
  font-size:1.1rem;
  font-weight:600;
}