.circleInfobasic {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  font-family: 'Nanum-Gothic', sans-serif;
}

.circleInfoImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.circleInfoImg img {
  width: 20rem;
  border-radius: 10rem;
}

.circleInfoName {
  margin-top: 1rem;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.circleInfos .circleInformations {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  padding: 1rem;
  font-size: 1.25rem;
}

.circleInfomation {
  flex:1;
  text-align: center;
}

.circleInfopresent {
  font-size: 1rem;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}
