.feedbasic {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 40px 40px 20px 20px;
  margin:2rem 0 4rem 0;
  font-family: "Nanum Gothic", sans-serif;
  position: relative;
  width:40vw;
}

.mainPictures {
  position: relative;
  width:40vw;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.feedTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.feedTitle img {
  border: 1px solid white;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  margin-right: 1.25rem;
  margin-left: 1rem;
}

.feedCircleName {
  font-size: 1.4rem;
}

#slide img {
  position: relative;
  width: 40vw;
}

.feedContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width:40vw;
}

.contentTop {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
}

#contentDate {
  width: 100%;
  position: relative;
  text-align: right;
  font-size: 0.75rem;
  color: grey;
  padding:0.7rem;
}

.contentText{
  width:38vw;
  padding:0.7rem;
  word-break:break-all;
}

.contentComment{
  position: relative;
  display:flex;
  flex-direction: column;
  width:40vw;
}

#commentAll {
  position: relative;
  padding:0.7rem;
  border: none;
  color: grey;
  text-align: right;
  cursor: pointer;
}

.feedComment {
  border-top: 1px solid lightgrey;
  position: relative;
  width:40vw;
}

.feedComment textarea {
  border: none;
  margin:0.7rem;
  font-size: 1.3rem;
  width:38vw;
  line-height: 1.1;
  resize:none;
}

.feedComment textarea:focus{
  outline:none;
  border-bottom:1.5px solid black;
}

.feedComment textarea::-webkit-scrollbar{
  display:none;
}

.commentButton{
  display:none;
}