.homebasic {
  padding-top: 55px;
}

.navi {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.home {
  display: flex;
  flex-direction: row;
  flex: 10;
}

.side {
  flex: 1;
}

.homeMain {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.homeMain .homeMainleft {
  flex: 1.8;
  margin: 0.5rem;
  z-index: 9;
}

.homeMain .homeMainright {
  flex: 1.2;
  margin: 0.5rem;
}

.homeMenuTitle {
  position: fixed;
  top: 7rem;
  min-width: 20rem;
}

.homeMenuInfo {
  position: fixed;
  top: 4rem;
  bottom: 0;
  margin-left: 2rem;
}

.homeMain #input {
  font-size: 3rem;
}

@media screen and (max-width: 728px) {
  .side {
    display: none;
  }
  .homeMain {
    margin-left: 2rem;
    margin-right: 2rem;
    min-width: 35rem;
  }
}

@media screen and (min-width: 728px) {
  .homeMain {
    min-width: 60rem;
  }
}
