.loginBackground {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  min-width: 30vw;
}

.loginBody .loginForm {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.loginBody .loginForm p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loginForm input {
  border: 1px solid rgb(219, 235, 237);
  background-color: white;
  outline: none;
  text-align: center;
}

.loginForm button {
  cursor: pointer;
  border: none;
  background-color: white;
  outline: none;
  border-radius: 10px;
}

#forgotUser {
  position: relative;
  left: -4rem;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  /* color: rgb(58, 58, 211); */
  color:blue;
  text-decoration: none;
}

.loginBtn :hover {
  font-weight: 600;
}

@media screen and (min-width: 728px) {
  .title {
    font-size: 2.5rem;
  }
  .loginBody .loginForm input {
    font-size: 1.5rem;
  }
  .loginForm input {
    border-radius: 1rem;
  }

  .loginForm button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 728px) {
  .title {
    font-size: 2rem;
  }
  .loginBody .loginForm input {
    font-size: 1rem;
  }
  .loginForm input {
    border-radius: 0.5rem;
  }
  .loginForm button {
    font-size: 1rem;
  }
  #forgotUser {
    left: -3rem;
    font-size: 0.5rem;
  }
}
