.divider {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic", sans-serif;
}

.divider img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header {
  font-weight: 600;
}

@media screen and (min-width: 728px) {
  .side {
    height: 25vh;
  }

  .divider .Main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
  }

  .divider .Main .discription {
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
  }

  .divider .Main .discription .header {
    font-size: 2.5rem;
    margin: 0;
  }

  .divider .Main .LoginComponent {
  }
}

@media screen and (max-width: 728px) {
  .side {
    height: 25vh;
  }

  .headerDiscript {
    display: none;
  }

  .divider .Main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    font-size: 2rem;
  }

  .divider .Main .LoginComponent {
    margin: 0;
  }
}
