.mycircleBasic {
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic", sans-serif;
}

.JoinCircleTitle,
.FollowCircleTitle {
  border-bottom: 1px solid lightgrey;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  height: 3vh;
}

.JoinCircleInfo,
.FollowCircleInfo {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.JoinCircleInfo ul,
.FollowCircleInfo ul {
  margin-top: -1000%;
  /* max-height: 30vh; */
}
