.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

/* .menu {
  width: 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
} */

/* .menu:nth-child(): hover {
  background-color: lightgrey;
} */
