.navigation {
  display: flex;
  flex-direction: row;
  height: 55px;
  border-bottom: 1px solid lightgrey;
  justify-content: center;
  align-items: center;
  flex: 10;
  background-color: white;
}

.side {
  flex: 1;
}
.navMain {
  flex: 3.2;
  display: flex;
  flex-direction: row;
}
.navMain .Logo {
  flex: 3;
  position: relative;
  text-align: center;
}
.navMain .sideMenu {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (min-width: 728px) {
}

@media screen and (max-width: 728px) {
}
