.navigation {
  display: flex;
  flex-direction: row;
  height: 55px;
  border-bottom: 1px solid lightgrey;
  justify-content: center;
  align-items: center;
  flex: 4;
  background-color: white;
}

.side {
  flex: 1;
}
.navMain {
  display: flex;
  flex-direction: row;
  flex: 2;
}
.navMain .Logo {
  position: relative;
  text-align: center;
  flex: 1;
}
.navMain .sideMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  padding-right: 4rem;
}

@media screen and (min-width: 728px) {
  .navMain {
    min-width: 60rem;
  }
}

@media screen and (max-width: 728px) {
  .side {
    display: none;
  }
  .navMain {
    min-width: 35rem;
  }
}
