.userProfileIn {
  position: absolute;
  display: none;
  /* opacity: 1; */
  font-size: 1.2rem;
  width: 6vw;
  margin-top: 6px;
  margin-left: -5px;
  font-family: "Nanum-Gothic", sans-serif;
}

.userProfileLi {
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  margin: 0.3rem;
  background-color: lightgrey;
  border: 1px solid lightgrey;
}

.userProfileLi:hover {
  background-color: white;
}
