.profilebasic {
  display: flex;
  flex-direction: row;
  font-family: "Nanum-Gothic", sans-serif;
  height: 100%;
  width: 100%;
}

.profileLeft {
  display: flex;
  flex-direction: column;
  margin: 15vh 0 0 0;
  padding: 0;
  width: 17vw;
}

.profileImg img {
  border-radius: 50%;
  width:15vw;
  height:15vw;
}

.profileUserInfo div {
  font-size: 1.5rem;
  margin: 0.3rem;
}

.profileUpdate{
  margin-top:0.5rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  background-color: lightgray;
  text-align:center;
  color:gray;
  border-radius:5px;
  cursor:pointer;
  width:15vw;
}

#userImageButtonlabel{
  cursor:pointer;
}

#userImageButtonlabel:hover{color:black; font-weight:600;}

.profileUpdate input{
  padding:0;
  margin:0;
  border:none;
  height:0;
  width:0;
  position:absolute;
}

.profileRight {
  display: flex;
  flex-direction: column;
  padding: 15vh 0 0 0;
  width: 23vw;
}

.profileRight p {
  font-size: 2rem;
  border-bottom: 2px solid lightgrey;
  font-weight: 300;
  color: black;
  width: 100%;
  padding: 0;
  margin: 0 0 1rem 0;
}

.profileJoinCircle {
  margin-bottom: 10vh;
}

.profileJoinCircleView,
.profileFollowCircleView {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.2rem;
  justify-content: space-evenly;
}

.viewCirclebasic {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 10vw;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.viewCirclebasic:hover {
  background-color: lightgrey;
  font-weight: 600;
}

.viewCirclebasic img {
  width: 3rem;
  padding-right: 1rem;
  border-radius: 50%;
}
