.searchbasic {
  display: flex;
  flex-direction: column;
  /* margin: 1rem; */
  margin-top: 0.5rem;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
}

.searchList {
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.searchList::-webkit-scrollbar {
  /* display: none; */
}

.searchHead {
  border-bottom: 1px solid lightgrey;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#searchInput:focus {
  outline: none;
}

#searchInput {
  border: none;
  background-color: white;
  color: lightgrey;
  font-size: 1.1rem;
  margin-left: 1rem;
  padding: 5px;
  color: black;
}

.searchItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
  /* margin: 1rem 1rem 0.5rem 0.5rem; */
  padding: 0.5rem;
  cursor: pointer;
}

.searchItem:hover {
  background-color: lightgrey;
}

.searchItemInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchItem img {
  width: 40px;
  border: 0.1px solid white;
  border-radius: 20px;
  margin-right: 2rem;
  margin-left: 0.5rem;
}

#searchItemInfo {
  font-size: 0.75rem;
  color: grey;
}
