.signupBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  min-width: 30vw;
}

.signupBody .signupForm {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.signupBody .signupForm input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.signupForm input {
  border: 1px solid rgb(219, 235, 237);
  background-color: transparent;
  outline: none;
  text-align: center;
}

.signupForm button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 728px) {
  .signupBody .signupForm input {
    font-size: 1.5rem;
  }
  .signupForm input {
    border-radius: 1rem;
  }

  .signupForm button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 728px) {
  .signupBody .signupForm input {
    font-size: 1rem;
  }
  .signupForm input {
    border-radius: 0.5rem;
  }
  .signupForm button {
    font-size: 1rem;
  }
  #forgotUser {
    left: -3rem;
    font-size: 0.5rem;
  }
}
