.navigation {
  display: flex;
  flex-direction: row;
  height: 55px;
  border-bottom: 1px solid lightgrey;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.navLogo {
  width: 100%;
  font-size: 1.5rem;
  /* color: #b620e0; */
  text-align: center;
}

.logoClava{
  cursor:pointer;
}

.navMenuTab {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  height: 55px;
  right: 1rem;
  z-index: 11;
  width: 10vw;
}

@media screen and (min-width: 728px) {
}

@media screen and (max-width: 728px) {
}
